html, body, #demo {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

body {
  font-family: sans-serif;
}

#demo {
  display: flex;
  align-items: center;
  justify-content:center;
}

.demo-inner {
  max-width: 500px;
}

h1 {
  margin:0 0 20px;
  text-align:center;
}

.options {
  font-size: 12px;
  margin-top: 15px;
  text-align:center;
}

.options label {
  padding:0 5px;
  cursor:pointer;
  display:inline-block;
  margin:5px 0;
}
