

.ris {
  display: block;
  position: relative;
  box-sizing: border-box;
  font-size:12px;
}

.ris * {
  box-sizing: border-box;
}

.ris .ris-input {
  display: block;
  resize: none;
  width: 100%;
  padding: 5px;
  border: 5px solid #eee;
  border-radius: 5px;
  font-size:inherit;
}

.ris .ris-input:active, .ris .ris-input:focus {
  outline: 0;
  border: 5px solid #1e88e5; 
}

.ris.ris-open-up .ris-options {
  top:0;
  transform:translate(-50%,-100%);
}

.ris .ris-options {
  position: absolute;
  top: 100%;
  left: 50%;
  margin:0;
  width: calc(100% - 10px);
  background: #fff;
  transform:translate(-50%, 0);
  border: 1px solid #eee;
  overflow: auto;
  box-shadow: 0 2px 3px 1px #eee;
  max-height:245px;
  font-size:inherit;
}

.ris .ris-options .ris-option {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
}

.ris .ris-options .ris-option:last-child {
  border-bottom: 0;
}

.ris .ris-options .ris-option:hover {
  background: #bbdefb;
}

.ris .ris-options .ris-option.current {
  background:#bbdefb;
}

.ris .ris-options .ris-option.selected {
  background:#1e88e5;
  color: #fff;
}

.ris .ris-options.ris-no-options {
  padding:5px;
  text-align:center;
  color:#ccc;
}
